[aiq-sail-on]
experiment_type = SAIL-ON
username = tboult@vast.uccs.edu
secret = dca2b825665343d9b6b49450917a32fc
organization = UCCS
model_name = mockn-eval-01

[sail-on]
domain = cartpole
experiment_secret = 6ab28e49a5284899b27b083b273e724c

[amqp]
user = mockn_uccs_ta2
pass = 70b6b538c4214dace5b25b4ce11e559e
host = aiq.ailab.wsu.edu
vhost = /mockn
port = 5671
ssl = True

